---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {getCollection} from 'astro:content';
import WorkPreview from "../components/WorkPreview.astro";
import EducationPreview from "../components/EducationPreview.astro";
import {profiles} from "../data/profiles";
import ProjectPreview from "../components/ProjectPreview.astro";
import Aboutme from "../components/Aboutme.astro";
import Profiles from "../components/Profiles.astro";

// Content Fetching: List four most recent work projects
const works = (await getCollection('work')).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf())

// Content Fetching: List four most recent work projects
const educations = (await getCollection('education')).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf())

// Content Fetching: List four most recent work projects
const projects = (await getCollection('projects')).sort(
    (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf())
---

<Layout title="Victor Alvarado | Software Engineer">
    <!--Header-->
    <Header title="Victor Alvarado" description="SWE &amp; Full Stack Developer" showContact={true}/>
    <!--Main Content Wrapper-->
    <main>
        <!--About Me Section-->
        <section class="container">
            <h2 class="section-title">About</h2>
            <Aboutme/>
        </section>
        <!--Work Experience Section-->
        <section class="container border-bottom">
            <h2 class="section-title">Experience</h2>
            {
                works.map((work) => (
                        <WorkPreview work={work}/>
                ))
            }
        </section>
        <!--Projects Section-->
        <section class="container border-bottom">
            <h2 class="section-title">Projects</h2>
            {
                projects.map((project) => (
                        <ProjectPreview coll={project}/>
                ))
            }
        </section>
        <!--Educations Section-->
        <section class="container">
            <h2 class="section-title">Education</h2>
            {
                educations.map((education) => (
                        <EducationPreview coll={education}/>
                ))
            }
        </section>
        <!--Socials Profiles Section-->
        <section class="container">
            <h2 class="section-title">
                Profiles
            </h2>
            <Profiles/>
        </section>
    </main>
    <!--Footer-->
    <Footer/>
</Layout>

<style>
    .section-title {
        font-size: 1.2rem;
    }
</style>
