---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {getCollection} from 'astro:content';
import WorkPreview from "../components/WorkPreview.astro";
import EducationPreview from "../components/EducationPreview.astro";
import {profiles} from "../data/profiles";

// Content Fetching: List four most recent work projects
const works = (await getCollection('work')).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf())

// Content Fetching: List four most recent work projects
const educations = (await getCollection('education')).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf())
---

<Layout title="Victor Alvarado | Software Engineer">
    <Header title="Victor Alvarado" description="SWE &amp; Full Stack Developer" showContact={true}/>
    <main>
        <section class="container">
            <h2 class="section-title">About</h2>
            <p>
                Hello, I'm Victor Alvarado, a <b>skilled SWE, full-stack developer</b>, and designer with a passion for native
                Android development. With over <b>7 years of experience</b> in the software and design industries, I've
                worked with a variety of organizations around the world, including Ns Pro's, Beanario Software, Ocho
                App, Aliat, Banco Atlantida, Buzzy Company, and many more. I am currently based in Ireland to improve my English skill.
                I have a strong passion for leveraging cutting-edge technologies, such as <b>Astro.Build, React.JS, Node.JS,
                MySql, Laravel, and Yii2 framework</b>, to develop web platforms that deliver exceptional user experiences.
            </p>
            <p>
                Over the years, I have worked on a variety of projects, from large to organizations to small projects
                for startups and personal projects. This breadth of experience has equipped me with a wide range of
                skills and expertise across various project types, as well as Experience working with teams of different
                sizes and goals.
            </p>
            <p>
                I also write and speak about code.
                You can catch up with me on Figma Community, Github or Twitter.
            </p>
        </section>
        <section class="container">
            <h2 class="section-title">Experience</h2>
            {
                works.map((work) => (
                        <WorkPreview work={work}/>
                ))
            }
        </section>
        <section class="container">
            <h2 class="section-title">Education</h2>
            {
                educations.map((education) => (
                        <EducationPreview coll={education}/>
                ))
            }
        </section>
        <section class="container">
            <h2 class="section-title">
                Profiles
            </h2>
            <div class="profiles">
                {profiles.map(social => (
                                <div class="split">
                                    <h4 class="label">{social.name}</h4>
                                    <div>
                                        <a href={social.url}>{social.description}</a>
                                    </div>
                                </div>
                    )
                )}
            </div>
        </section>
    </main>
    <Footer/>
</Layout>

<style>
    .section-title {
        font-size: 1.2rem;
    }
    @media (min-width: 600px) {
        .profiles {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: var(--spacing-l);
        }
    }
    .split {
        align-items: baseline;
        margin-bottom: var(--spacing-l);
    }
</style>
