---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Link from "../components/Link.astro";
import {setupSoftware} from "../data/setupSoftware";
import {setupHardware} from "../data/setupHardware";
---
<Layout title="Victor Alvarado | My Setup">
    <Header title="My Setup" description="All my devices, gadgets & accesories" showContact={false}/>

    <main>
        <section class="container">
            <h2 class="section-title">A Dreamy Home Setup</h2>
            <p>
                Welcome to my dreamy setup, where I have carefully crafted an environment that supports my productivity
                and creativity. From the hardware to the software, everything is chosen to make my work flow smoothly
                and seamlessly.
            </p>
            <p>
                With this setup, I feel inspired, motivated, and ready to take on any challenge that comes my way.
            </p>
            <picture>
                <source srcset="/assets/images/setup.webp" type="image/webp">
                <source srcset="/assets/images/setup.jpeg" type="image/jpeg">
                <img src="/assets/images/setup.jpeg" alt="My Setup">
            </picture>
        </section>
        <section class="container">
            <h2 class="section-title">Hardware</h2>
            <ul>
                {
                    setupHardware.map(
                        hardware => (
                                <li>
                                    <Link
                                            href={hardware.url}
                                            ariaLabel={hardware.description}
                                            title={hardware.name}
                                    />
                                </li>
                        )
                    )
                }
            </ul>
        </section>

        <section class="container">
            <h2 class="section-title">Software</h2>
            <ul>
                {
                    setupSoftware.map(
                        software => (
                                <li>
                                    <Link
                                            href={software.url}
                                            ariaLabel={software.description}
                                            title={software.name}
                                    />
                                </li>
                        )
                    )
                }
            </ul>
        </section>
    </main>

    <Footer/>
</Layout>