---
import Header from "./Header.astro";

const {entry, Content} = Astro.props;
---
<div class="container">
    <div class="breadcrumbs-section">
        <a class="" onclick="history.back()">
            <svg xmlns="http://www.w3.org/2000/svg"
            ><path
                    d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
            ></path>
            </svg><span>Go back</span>
        </a>
    </div>
</div>
<Header slug={entry.slug} title={entry.data.position ?? entry.data.title} description={entry.data.company ? `at ${entry.data.company}` : (entry.data.myRole ?? entry.data.description ?? "")} showContact={false} tags={entry.data.tags}/>
<main>
    <section class="container">
        <article transition:name={`cont-${entry.slug}`} id="article" role="article" class="prose mx-auto mt-8 max-w-3xl">
            <Content/>
        </article>
    </section>
</main>

<style is:global>
    /* article h1 {
         font-size: 1.5rem;
     }*/
    h2:first-of-type {
        font-size: 1.5rem;
    }

    article img {
        width: 100%;
        height: auto;
    }

    .tags {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }
    .tag-title-section {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0;
    }
    .tags .tag {
        background-color: var(--color-primary);
        color: var(--color-bg);
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        font-size: 0.75rem;
        font-weight: 600;
    }
</style>