---
import '../styles/reset.css';
import '../styles/global.css';
import "@fontsource/roboto-mono"
import {SITE} from "../config";
export interface Props {
	title: string;
	author?: string;
	description?: string;
}

const { title } = Astro.props;
const {
	author = SITE.author,
	description = SITE.desc,
	ogImage = SITE.ogImage,
} = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="color-scheme" content="light dark" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Canonical URL -->
		<link rel="canonical" href={canonicalURL} />

		<!-- General Meta Tags -->
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<meta name="author" content={author} />
		<meta name="generator" content={Astro.generator} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
	</head>
	<body>
		<slot />
	</body>
</html>

